<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Bot-Dashboards.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".iso" mimeType="application/x-cd-image" />
            <mimeMap fileExtension=".img" mimeType="application/x-cd-image" />
            <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent" />
            <mimeMap fileExtension=".pyw" mimeType="file/download" />
        </staticContent>
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
    </system.web>
    <system.net>
        <settings>
            <webProxyScript downloadTimeout="05:02:00" />
        </settings>
    </system.net>
</configuration>
